.header{
    box-sizing: border-box;
    border: 1px solid rgb(156, 152, 152);
    margin-top: 15px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.KH-logo{
    height: 70px;
    
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 225px;
}

.search-bar{
    height: 30px;
    width: 300px;
}

.search-button{
    height: 36px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.search-logo{
    height: 36px;   
}


