.nav{
    box-sizing: border-box;
    border: 1px solid rgb(156, 152, 152);
    margin-top: 15px;
    height: 80px;

}

.menu-bar>li{
    float: left;
    
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    padding:0px 60px;
    height: 100%;
    margin: 0px;
}

